/* MIG grabbed CSS from production 3/9/16 */ 

.layoutcol {
	float: left;
}

.prop {
	height:130px;
	float:right;
	width:1px;
}

.clear {
    clear:both;
    height:1px;
    overflow:hidden;
}

.homeheader-link {
	position: absolute;
	left:15px;	
	top: 3px;
	height: 88px;
	width: 116px;
}

.header-tagline {
	position: absolute;
	right: 18px;
	top: 40px;
}

#left-section {
	width: 608px;
	float: left;
}

#right-section {
	float: right;
}

#centerContent {
	width: 448px;
	float:left;
}

#two-col-span {
	width: 608px;
	float: left;
}

#flashcontentMain {
	margin: -73px 0 0 0;
}

#leftNavModuleEnd-black {
	background: #fff url(../images/homepage/global/greyangleBottom-black.gif) no-repeat top left;
	height: 30px;
}

/*FOOTER*/
#footer {
	position: relative;
	clear: both;
	border-top: 1px solid #dedfe1;
	margin: 0 4px 0 0;
}

#footer.short {
	margin: 0 0 0 0;
}

#footerTop {
	background: #fff url(../images/homepage/global/footerTop.gif) no-repeat 0 -30px;
	height: 65px;
	width: 776px;
}

#footerTopShort {
	background: #fff url(../images/homepage/global/footerTop.gif) no-repeat 0 -30px;
	height: 65px;
	border-right: 1px solid #dedfe1;
}

.footer-tagline {
	position: absolute;
	top: 10px;
	left: 10px;
}

.footer-emphasis {
	color: #0068a6;
}

.footer-col {
	padding: 10px 20px 0 15px;
}

.footer-col-narrow {
	padding: 27px 0 0 50px;
}

#footer p {
	line-height: 1.75em;
	font-size: .625em;
}

#footer a {
	color: #505050;
	text-decoration: none;
}

#bottomShadow {
	background: #fff url(../images/homepage/global/bottomShadow.gif) no-repeat;
}

#footerRight {
	background: transparent url(../images/homepage/global/footerR.gif) no-repeat bottom right;
	position: absolute;
	right: 0;
	bottom: 2px;
	height: 41px;
	width: 1px;
}

#footer .logo {
	float: left;
	width: 100px;
	height: 41px;
	margin: 0 0 10px 0px;
	text-indent: 0px;
	background: #fff url(../images/homepage/global/hp_footerLogo.gif) no-repeat;
}

#footer .logo a {
	float: left;
	width: 100px;
	height: 41px;
	text-decoration: none; /*REMOVES BLUE OUTLINE IN MOZILLA 1.7.12*/
}

#footer #accessibility {
	float: right;
}

#footer #accessibility .icon {
	float: left;
	margin: 2px 5px 0 0;
}

#footer #accessibility .text {
	float: left;
	margin: 2px 10px 0 0;
}

#footer #accessibility .text a {
	font-family: Arial, Helvetica, sans-serif;
	font-size:10px;
	color: #333333;
	text-decoration:none;
}

#footer #accessibility .text a:hover {
	text-decoration:underline;
}

.listHolder {
	padding: 7px 0 0 10px;
	float: left;
	width: 660px;
}	

ul.horList li {
	font-size: 0.625em;
	float: left;
	padding: 2px 20px 0 0;
}	

ul.horList li a {
	color: #505050;
	text-decoration: none;
}

ul.horList li.accessability  {
	margin: 0 0 0 20px;
	height: 12px;
	padding: 0 0 0 15px;
	background: transparent url(../images/homepage/global/accessability.gif) no-repeat 0 0;
}


/* 
---------------------------- 
FOOTER ITEMS
---------------------------- */
/*FOOTER*/
/*FOOTER*/
#footermain {
	position: relative;
	clear: both;
	margin: 0;
	border: 1px solid #e3e4e6;
	width: 774px;
	background-image: url(../images/homepage/global/homepageFooter.gif);
	background-repeat: repeat-x;
	background-position:top;
	font-family: Arial, Helvetica, sans-serif;
	font-size:10px;
	color: #333333;
}

#footermain ul li {
	float: left;
	margin: 2px 20px 0 0;
}

#footermain ul li.socialIcons {
	float: left;
	margin: 0 10px 0 0;
}

#footermain ul li a {
	font-family: Arial, Helvetica, sans-serif;
	font-size:10px;
	color: #333333;
	text-decoration:none;
}

#footermain ul li a:hover {
	text-decoration:underline;
}

#footerLogo {
	width: 100px;
	float: left;
	text-indent: -9999px;
}

#footermain .logo {
	float: left;
	width: 100px;
	height: 41px;
	margin: 0 0 10px 0px;
	background: #fff url(../images/homepage/global/hp_footerLogo.gif) no-repeat;
	text-indent: -9999px;
}

#footermain #accessibility {
	float: right;
}

#footermain #accessibility .icon {
	float: left;
	margin: 2px 5px 0 0;
}

#footermain #accessibility .text {
	float: left;
	margin: 2px 10px 0 0;
}

#footermain #accessibility .text a {
	font-family: Arial, Helvetica, sans-serif;
	font-size:10px;
	color: #333333;
	text-decoration:none;
}

#footermain #accessibility .text a:hover {
	text-decoration:underline;
}

#footermain .logo {
	float: left;
	width: 100px;
	height: 41px;
	margin: 0 0 10px 0px;
	text-indent: -9999px;
	background: #fff url(../images/homepage/global/hp_footerLogo.gif) no-repeat;
}

#footermain .logo a {
	float: left;
	width: 100px;
	height: 41px;
	text-decoration: none; /*REMOVES BLUE OUTLINE IN MOZILLA 1.7.12*/
}

#bottomShadow {
	background: #fff url(../images/homepage/global/bottomShadow.gif) no-repeat;
}

#footerRight {
	background: transparent url(../images/homepage/global/footerR.gif) no-repeat bottom right;
	position: absolute;
	right: 0;
	bottom: 2px;
	height: 41px;
	width: 1px;
}



.two-col-paragraph {
	width: 540px;
}

.box-narrow-blueGradient {
	background: transparent url(../images/homepage/global/box-blueGradient-narrow-bottom.gif) no-repeat bottom left;
}

.box-narrow-blueGradient-top {
	font-size:1px; /*IE6 HACK FOR HEIGHT LESS THAN 10PX*/
	line-height:0; /*IE6 HACK FOR HEIGHT LESS THAN 10PX*/
	height: 5px;
	background: transparent url(../images/homepage/global/box-blueGradient-narrow-top.gif) no-repeat top left;
}

.box-narrow-blueGradient .box-standout {
	margin: 0 10px 0 15px;
	padding: 6px 0 0 0;
	color: #006b06;	
	font-weight: bold;
	font-style: italic;
	font-size: 1em;
	display: block;
}

.box-narrow-blueGradient p.white-cta {
	color: #FFFFFF;	
	font-style: italic;
	font-size: .75em;
	padding: 5px 0 11px 15px;
}

.box-narrow-blueGradient .white-cta img {
	padding: 0 0 0 5px;
}

.box-narrow-blueGradient a {
	color: #FFFFFF;
	text-decoration: none;
}

.blue-gradient-box {
	margin: 0 0 20px 20px;
	width: 410px;
	background: url(../images/homepage/global/lightBlue-gradient-bottom.jpg) no-repeat bottom left;
}

.blue-gradient-box .left {
	width: 280px;
	float: left;
}

.blue-gradient-box .right {
	margin: -5px 0 0 0;
	width: 130px;
	float: left;
}

.blue-gradient-box-top {
	text-align: center;
	background: url(../images/homepage/global/lightBlue-gradient-top.jpg) no-repeat top left;
	height: 5px;
	color: #def0dd;
}


#mainContent .blue-gradient-box h2 {
	color: #002e6e;
	font-weight: bold;
	font-size: 1.2em;
	margin: 5px 0;
}

#mainContent .blue-gradient-box ul {
	padding: 0 0 0 10px;
	margin: 0 10px 10px 10px;
}

#mainContent .blue-gradient-box li {
	background: url(../images/homepage/bullets/arrow.png) no-repeat 0 3px;
	font-size: .85em;
	padding: 0 0 5px 15px;
}

.dash-float-box {
	margin: 20px 0 20px 20px;
	width: 408px;
}

#mainContent .dash-float-box h2 {
	margin: 20px 0 10px 0;
	padding: 0;
	color: #002e6e;
	font-weight: bold;
}

.dash-float-box img {
	margin: 20px 0 0 0;
}

.dash-float-box .blue-dot {
	margin: 0;
} 

.dash-float-box .left {
	float: left;
	width: 140px;
}

.dash-float-box .right {
	width: 268px;
	float: left;
}

.dash-float-box li {
	padding: 0 0 5px 0;
	text-indent: -12px;
	margin: 0 0 0 20px;
	list-style: disc inside;
}

.stripebox {
	margin: 0 0 0 20px;
	width: 408px;
	background: url(../images/homepage/global/stripebox-bottom.gif) no-repeat bottom left;
}

#mainContent .stripebox-top {
	font-size:1px; /*IE6 HACK FOR HEIGHT LESS THAN 10PX*/
	line-height:0; /*IE6 HACK FOR HEIGHT LESS THAN 10PX*/
	height: 1px;
	border-top: 1px solid #002e6e;
}

#mainContent .stripebox h3 {
	color: #FFFFFF;
	font-size: 1.4em;
	margin: 11px 20px 0 0;
}

#mainContent .stripebox p {
	margin: 5px 25px 0 0;
	color: #FFFFFF;
}

#mainContent .stripebox a {
	color: #FFFFFF;
	font-size: 1.2em;
}

.three-blue-right a {
	padding: 0 10px 0 0;
	text-decoration: none;
	margin: 0 0 0 0;
	background-color: transparent;
	background-image: transparent url(../images/homepage/bullets/arrow-white-sm.png);
	background-repeat: no-repeat;
	background-position: 100% 55%;
}

/*.three-blue-right a {
	border: 1px solid red;
	font-size: 1.2em;
	text-decoration: none;
	font-weight: bold;
	display: inline;
	margin: 0 0 0 20px;
	padding: 5px 15px 40px 0;
	background: transparent url(../images/bullets/green.gif) no-repeat 100% 50%;
}*/



/*HOME PAGE LIST*/

.vertical-agency-list p {
	line-height: 1.4em;
	font-size: .75em;
	margin: 0 0 10px 0;
	height: 124px;
	background: url(../images/homepage/global/agency-vert-top.gif) no-repeat top left;
}

.vertical-agency-list {
	margin: 10px 0 0 0;
	width: 160px;
	background: url(../images/homepage/global/agency-vert.gif) no-repeat bottom left;
}

.vertical-agency-list p {
	padding: 10px 40px 10px 10px;
	color: #333333;
	font-weight: bold;
}

.vertical-agency-list ul {
	margin: -80px 0 0 0;
	padding: 0 0 10px 0;
}

.vertical-agency-list li {
	text-align: center;
	margin: 0 0 5px 0;
}

/*BOX OF LINK*/
.vertical-box-list h4 {
	font-size: .875em;
	padding: 10px 20px 10px 15px;
	margin: 0 0 10px 0;
	height: 124px;
	background: url(../images/homepage/global/agency-vert-top.gif) no-repeat top left;
}

.vertical-box-list {
	margin: 10px 0 0 0;
	width: 160px;
	background: #f7f8f8 url(../images/homepage/global/agency-vert.gif) no-repeat bottom left;
}

.vertical-box-list ul {
	margin: -120px 0 0 15px;
	padding: 0 0 10px 0;
}

.vertical-box-list li {
	font-size: .75em;
	padding: 0 0 5px 0;
}

.vertical-box-list li a {
	color: #0068a6;	
	text-decoration: underline;
}

.news-block {
	padding: 10px 0;
	float: left;
	width: 608px;
	border-bottom: 1px solid #dedfe1;
}

.news-block p, .news-block h2, .news-block h3 {
	margin: 0 20px 5px 20px;
}

.news-block h2 {
	color: #002e6e;
	font-size: .875em;
}

.news-block h3, .announce-blocks h4 {
	color: #469c23;
}

.announce-blocks h4 {
	margin: 10px 0 0 60px;
	font-size: 1.2em;
	padding: 0 0 5px 0;
	color: #002e6e;
}

.news-block a {
	color: #0068a6;
	line-height: 1.4em;
}

.lightBlue-arrow-right {
	color: #0068a6;
	line-height: 1.4em;
	padding: 0 5px 0 0;
}

.news-block .float-left {
	display: inline;
	float: left;
	margin: 0 0 0 20px;
	width: 80px;
}

.news-block .float-right {
	float: left;
	margin: 0 0 0 0;
	width: 488px;
}

.announce-blocks ul, .announce-blocks li {
	float: left;
}

.announce-blocks ul {
	padding: 0 0 10px 0;
	margin: 10px 0 0 0;
	width: 608px;
}

.announce-blocks li {
	padding: 0 10px 0 0;
	height: 85px;
	width: 192px;
	border-left: 1px solid #dedfe1;
}

#two-col-span .announce-blocks li p {
	margin: 0 0 0 60px;
}

#two-col-span .news-block p {
	font-size: .75em;
	line-height: 1.4em;
}

.announce-blocks li.none, .announce-blocks.none {
	border: none;
}

.lock {
	width: 50px;
	background: transparent url(../images/homepage/global/lock.gif) no-repeat 15px 10px;
}

.link {
	width: 50px;
	background: transparent url(../images/homepage/global/link.gif) no-repeat 10px 10px;
}

.direct {
	width: 50px;
	background: transparent url(../images/homepage/global/direct.gif) no-repeat 10px 10px;
}

.arrow {
	width: 50px;
	background: transparent url(../images/homepage/global/arrow.gif) no-repeat 10px 10px;
}

body.homepage #navlistheader {
	background: transparent url(../images/homepage/headers/square-blue-alt2.gif) no-repeat;
	height: 73px;
}

#pageHeader-home {
	height: 73px;
	position: relative;
}

#pageHeader-home h1 {
	font-size: 1.75em;
	color: #fff;
	position: absolute;
	top: 3px;
	right: 20px;
	font-weight: normal;
}

.blue-dot {
	width: 408px;
	margin: 10px 0 10px 20px;
	height: 1px;
	background: url(../images/homepage/global/blue-dot-line.gif) repeat-x 0 0;
	line-height: 0;
}

#mainContent .blue-header-content {
	margin: 0 0 0 20px;
	width: 408px;
}

#mainContent .blue-header-content h2.blue-header {
	color: #002e6e;
	font-size: 1.2em;
	padding: 0;
	margin: 15px 0 0 0;
}

#mainContent .blue-header-content p {
	padding: 0 0 10px 0;
	margin: 0;
}

.under-myclipper-shim {
	margin: 0 0 -70px 0;
}

#refresh-announcementFeed {
	float: left;
	padding: 10px 0 0 20px;
	font-size: .75em;
	color: #505050;
	line-height: 1.4em;
}

#refresh-announcementFeed a {
	color: #0068a6 !important;
}

.bulletPush {
	padding: 0 0 0 3px;
}

#copyright {
	font-size: .625em;
}

.footer-title {
	font-weight: bold;
	color: #002e6e;
}

.promoBox {
	margin: 25px 0 25px 0;
}

/*NEW TABLE*/
#table {
	border: 1px solid #084181;
	width: 448px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	padding: 0;
	margin: 0 0 20px 20px;
}
#table table {
	width: 100%;
	padding: 0;
	margin: 0;
}
#table td {
	border-bottom: 1px solid #084181;
	border-right: 1px solid #084181;
}
#table td.last {
	border-right: none;
}
#table td.bottom {
	border-bottom: none;
}
#table p {
	width: auto;
	padding: 0;
	margin: 0;
}
#table p.title {
	font-size: 12px;
	color: #084181;	
	font-weight: bold;
	margin: 0 0 10px 0;
}
#table td.header {
	font-size: 13px;
	color: #084181;	
	font-weight: bold;
	margin: 0 0 10px 0;
}
#table table, #table p.body {
	font-size: 9px;
	color: #424242;
}
#table p.body {
	margin: 0 0 10px 0;
}
#table table th {
	font-size: 13px;
}
#table table td, #table table th {
	padding: 20px 25px 20px 25px;
}
#table td.center {
	text-align: center;	
}


